{% extends 'layout.html' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="card mb-3">
                <div class="d-flex justify-content-center py-4">
                  <a href="#" class="logo d-flex align-items-center w-auto">
                    <img src="{{ url_for('static', filename='assets/img/logo.jpg') }}" alt="">
  <!--                  <span class="d-none d-lg-block">NiceAdmin</span>-->
                  </a>
                </div><!-- End Logo -->
<!--                <hr />-->
                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4" style="margin-top: 0; padding-top:0; color: green;"><i style="color: orange;">Welcome</i> {{ current_user.name }}</h5>
                     <p class="text-center small">Kindly change your password to proceed to your dashboard.</p>
                  </div>
                  {% if msg %}
                    <i style="color: red;">{{ msg }}</i>
                  {% endif %}
                  <form class="row g-3 needs-validation" novalidate, action="{{ url_for('members_bp.change_password') }}" method="POST">

                    <div class="col-12">
                      <label for="yourPassword" class="form-label" style="color: green;">New Password</label>
                      <input type="password" name="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>
                    <div class="col-12">
                      <label for="confirm_password" class="form-label" style="color: green;">Confirm Password</label>
                      <input type="password" name="confirm_password" class="form-control" id="confirm_password" required>
                      <div class="invalid-feedback">Please confirm your password!</div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-success w-100" type="submit" >Change Password</button>
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->
{% endblock %}
